@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headshot {
    height: 770px;
    width: 620px;
    margin-bottom: 50px;
}

#about > p {
    width: 620px;
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    color: #14453D;
    line-height: 1.5;
}

@media (max-width: 865px) {
    #resume {
        width: 620px !important;
        height: 700px !important;
    }
}

@media (max-width: 625px) {
    #about > p {
        width: 500px;
    }

    #resume {
        width: 520px !important;
        height: 600px !important;
    }
}
